.section {
  margin-bottom: 9rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 6rem;
  }
}

.section-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: $black;

  margin-bottom: 3rem;
  padding-left: 8rem;

  @include breakpoint($lg-bp) {
    font-size: 3rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 0;
  }
}

.section_text {
  width: 100%;
  max-width: 107rem;
}

h1 {
  font-weight: 500;
  font-size: 4.8rem;
  color: $black;

  margin-bottom: 3rem;

  @include breakpoint($lg-bp) {
    font-size: 4.2rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 3.6rem;
  }
}
