<section class="bank-questions section">
    <div class="container">
        <h2>Вопросы о банке</h2>
        <div class="last-reviews__inner">
            <div class="bank-questions__slider">
                <div class="swiper-wrapper">
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">В Калужской области снижают финансовые затружнения</p>
                        <div class="last-reviews__item-descr">
                            <p>Все вклады до 1,4 миллиона ₽ в банках, перечисленных в таблице, защищены Агентством по
                                страхованию вкладов — АСВ. Даже если у банка отзовут лицензию, АСВ вернёт вкладчику...
                            </p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                    <div class="slider-nav_next slider-btn-next swiper-button-next">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <button class="bank-questions__all-btn filled-btn">Показать все</button>
    </div>
</section>