<div class="common-info section tabs">
    <div class="container">
        <h2>Общая информация</h2>
        <div class="common-info__inner">
            <div class="common-info__navs tabs-nav">
                <div class="swiper-wrapper">
                    <button class="common-info__nav-btn swiper-slide tabs-btn tabs-btn_active">Руководство</button>
                    <button class="common-info__nav-btn swiper-slide tabs-btn">История</button>
                    <button class="common-info__nav-btn swiper-slide tabs-btn">Головной офис</button>
                    <button class="common-info__nav-btn swiper-slide tabs-btn">Телефоны</button>
                    <button class="common-info__nav-btn swiper-slide tabs-btn">Ипотека</button>
                    <button class="common-info__nav-btn swiper-slide tabs-btn">Страховка</button>
                </div>
            </div>
            <div class="common-info__panes">
                <div class="common-info__pane text tabs-pane tabs-pane_show">
                    <h2>Руководство</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
                <div class="common-info__pane text tabs-pane">
                    <h2>История</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
                <div class="common-info__pane text tabs-pane">
                    <h2>Головной офис</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
                <div class="common-info__pane text tabs-pane">
                    <h2>Телефоны</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
                <div class="common-info__pane text tabs-pane">
                    <h2>Ипотека</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
                <div class="common-info__pane text tabs-pane">
                    <h2>Страховка</h2>
                    <p><strong>✔️ Деньги охраняются.</strong> Все вклады до 1,4 миллиона ₽ в банках, перечисленных в
                        таблице, защищены Агентством по страхованию вкладов — АСВ. Даже если у банка отзовут
                        лицензию, АСВ
                        вернёт вкладчику деньги, которые он положил на депозит — но до 1,4 миллиона ₽. Если ваши
                        сбережения
                        больше этой суммы, то надёжнее разложить их в несколько разных банков.</p>
                    <br>
                    <p><strong>✔️ Есть самые надёжные банки.</strong> В России есть список <a href="#">системно
                            значимых
                            банков</a>. Их финансовая
                        устойчивость важна для всей банковской системы страны.</p>
                    <br>
                    <p>Из нашей таблицы в список системно значимых входят эти банки:</p>
                    <br>
                    <ul>
                        <li>ВТБ;</li>
                        <li>МКБ;</li>
                        <li>Альфа-Банк;</li>
                        <li>Газпромбанк;</li>
                        <li>банк Открытие.</li>
                    </ul>
                    <br>
                    <p><strong>✔️ Изучите условия.</strong> Большинство вкладов с выгодными ставками отличаются
                        негибкими
                        условиями. С них запрещено снимать часть денег досрочно (иначе проценты сгорают), пополнять
                        можно до
                        определённого срока или нельзя вовсе. Если для вас важно иметь возможность более свободно
                        распоряжаться деньгами, рассмотрите вклады с гибкими условиями (но ставка, вероятнее всего,
                        будет
                        ниже) или накопительные счета.</p>
                </div>
            </div>
        </div>
    </div>
</div>