<div class="compare section">
    <div class="container">
        <h2>Таблица сравнения</h2>
        <div class="compare__inner">
            <table>
                <tr>
                    <th>Карта</th>
                    <th>Лимит</th>
                    <th>Льготный период</th>
                    <th>Обслуживание</th>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/tinkoff.png" alt=""> <a href="#">Тинькофф Платинум</a></td>
                    <td>300</td>
                    <td>180</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/modulbank.png" alt=""> <a href="#">Модуль Банк</a></td>
                    <td>200</td>
                    <td>300</td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/alfabank.png" alt=""> <a href="#">Альфабанк</a></td>
                    <td>500</td>
                    <td>360</td>
                    <td>1.5%</td>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/tinkoff.png" alt=""> <a href="#">Тинькофф Платинум</a></td>
                    <td>300</td>
                    <td>180</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/modulbank.png" alt=""> <a href="#">Модуль Банк</a></td>
                    <td>200</td>
                    <td>300</td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td><img src="assets/images/banks/alfabank.png" alt=""> <a href="#">Альфабанк</a></td>
                    <td>500</td>
                    <td>360</td>
                    <td>1.5%</td>
                </tr>
            </table>
        </div>
    </div>
</div>