<div class="faq section">
    <div class="container">
        <h2>FAQ</h2>
        <div class="faq__inner">
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
            <div class="faq__item">
                <p class="faq__item-title">
                    Можно ли заменить пенсионную карту Сбербанка на другую?
                </p>
                <p class="faq__item-descr">Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года.
                    Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. Депозиты искали на сайтах банков из топ-50 по объёму активов. От каждого банка в рейтинг
                    мог попасть один самый выгодный вклад. Ставки учитывались на минимально возможную сумму депозита
                    в банке.</p>
            </div>
        </div>
    </div>
</div>