<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <nav class="footer-nav">
                <a href="#">О проекте</a>
                <a href="#">Служба поддержки</a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Условия использования</a>
            </nav>
            <div class="footer-soc">
                <a class="footer-soc__link" href="#">
                    <svg>
                        <use href="#dzen"></use>
                    </svg>
                </a>
                <a class="footer-soc__link" href="#">
                    <svg>
                        <use href="#ok"></use>
                    </svg>
                </a>
                <a class="footer-soc__link" href="#">
                    <svg>
                        <use href="#vk"></use>
                    </svg>
                </a>
                <a class="footer-soc__link" href="#">
                    <svg>
                        <use href="#tg"></use>
                    </svg>
                </a>
            </div>
            <a class="footer-sticker" href="#">
                <img src="assets/images/icons/footer-sticker.png" alt="">
            </a>
        </div>
        <p class="footer-copy">©2022, ООО «Финанс.ру».</p>
    </div>
</footer>