<section class="last-reviews section">
    <div class="container">
        <h2>Последние отзывы</h2>
        <div class="last-reviews__inner">
            <div class="last-reviews__slider">
                <div class="swiper-wrapper">
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">Кредитная карта Тинькофф Платинум</p>
                        <div class="last-reviews__item-descr">
                            <p>Кроме того, сейчас банки предпочитают «долгие» вклады —
                                на три или два года. Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней,
                                в банке Ренессанс Кредит — на 91 день. Депозиты искали на сайтах банков
                                из топ-50 по объёму
                                активов. От каждого банка в рейтинг мог попасть один самый выгодный вклад. Ставки
                                учитывались на минимально возможную сумму депозита в банке.</p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Читать</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">Кредитная карта Тинькофф Платинум</p>
                        <div class="last-reviews__item-descr">
                            <p>Кроме того, сейчас банки предпочитают «долгие» вклады —
                                на три или два года. Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней,
                                в банке Ренессанс Кредит — на 91 день. Депозиты искали на сайтах банков
                                из топ-50 по объёму
                                активов. От каждого банка в рейтинг мог попасть один самый выгодный вклад. Ставки
                                учитывались на минимально возможную сумму депозита в банке.</p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Читать</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">Кредитная карта Тинькофф Платинум</p>
                        <div class="last-reviews__item-descr">
                            <p>Кроме того, сейчас банки предпочитают «долгие» вклады —
                                на три или два года. Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней,
                                в банке Ренессанс Кредит — на 91 день. Депозиты искали на сайтах банков
                                из топ-50 по объёму
                                активов. От каждого банка в рейтинг мог попасть один самый выгодный вклад. Ставки
                                учитывались на минимально возможную сумму депозита в банке.</p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Читать</a>
                    </div>
                    <div class="last-reviews__item swiper-slide">
                        <p class="last-reviews__item-title">Кредитная карта Тинькофф Платинум</p>
                        <div class="last-reviews__item-descr">
                            <p>Кроме того, сейчас банки предпочитают «долгие» вклады —
                                на три или два года. Но есть и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней,
                                в банке Ренессанс Кредит — на 91 день. Депозиты искали на сайтах банков
                                из топ-50 по объёму
                                активов. От каждого банка в рейтинг мог попасть один самый выгодный вклад. Ставки
                                учитывались на минимально возможную сумму депозита в банке.</p>
                        </div>
                        <a class="last-reviews__item-link" href="#">Читать</a>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                    <div class="slider-nav_next slider-btn-next swiper-button-next">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>