<section class="mnews tabs section">
    <div class="container">
        <h2>Популярные предложения</h2>
        <div class="mnews__inner">
            <div class="mnews-nav tabs-nav">
                <div class="swiper-wrapper">
                    <button class="mnews-nav__btn swiper-slide tabs-btn tabs-btn_active">В мире</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Экономика</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Рефинансирование</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Кредитные карты</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Дебетовые карты</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Автокредиты</button>
                    <button class="mnews-nav__btn swiper-slide tabs-btn">Ипотека</button>
                </div>
            </div>
            <div class="mnews-panes">
                <div class="mnews-pane tabs-pane tabs-pane_show">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="mnews-pane tabs-pane">
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                    <div class="mnews-pane__row">
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-2.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-3.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>
                        <a class="mnews-item" href="#">
                            <img class="mnews-item__img" src="assets/images/news/news-4.jpg" alt="">
                            <div class="mnews-item__info">
                                <p class="mnews-item__date">01.11.2022</p>
                                <p class="mnews-item__name">В Калужской области снижают финансовые затружнения</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>