<div class="modal modal-thx hide" data-modalName="modal-thx">
    <div class="modal__inner" data-scroll-lock-scrollable>
        <span class="modal-close-btn" data-close>
            <svg>
                <use href="#cross"></use>
            </svg>
        </span>
        <img class="comment-icon" src="assets/images/icons/comment-icon.png" alt="">
        <h2 class="modal-title">Спасибо за ваш отзыв!</h2>
        <p class="modal-descr">После проверки модераторами, мы обубликуем ваш отзыв</p>
    </div>
</div>