<div class="new-news section">
    <div class="container">
        <h2>Новые статьи</h2>
        <div class="new-news__inner">
            <div class="new-news__slider">
                <div class="swiper-wrapper">
                    <a class="new-news__item swiper-slide" href="#">
                        <img class="new-news__item-img" src="assets/images/news/news-1.jpg" alt="">
                        <p class="new-news__item_name">Как взять займ без залога</p>
                    </a>
                    <a class="new-news__item swiper-slide" href="#">
                        <img class="new-news__item-img" src="assets/images/news/news-2.jpg" alt="">
                        <p class="new-news__item_name">Как взять займ без залога</p>
                    </a>
                    <a class="new-news__item swiper-slide" href="#">
                        <img class="new-news__item-img" src="assets/images/news/news-3.jpg" alt="">
                        <p class="new-news__item_name">Как взять займ без залога</p>
                    </a>
                    <a class="new-news__item swiper-slide" href="#">
                        <img class="new-news__item-img" src="assets/images/news/news-4.jpg" alt="">
                        <p class="new-news__item_name">Как взять займ без залога</p>
                    </a>
                    <a class="new-news__item swiper-slide" href="#">
                        <img class="new-news__item-img" src="assets/images/news/news-1.jpg" alt="">
                        <p class="new-news__item_name">Как взять займ без залога</p>
                    </a>
                </div>
                <div class="slider-nav">
                    <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                    <div class="slider-nav_next slider-btn-next swiper-button-next">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>