<section class="popular tabs section">
    <div class="container">
        <h2>Популярные предложения</h2>
        <div class="popular__inner">
            <div class="popular-nav tabs-nav">
                <div class="swiper-wrapper">
                    <button class="popular-nav__btn swiper-slide tabs-btn tabs-btn_active">Микрозаймы</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Кредиты</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Рефинансирование</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Кредитные карты</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Дебетовые карты</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Автокредиты</button>
                    <button class="popular-nav__btn swiper-slide tabs-btn">Ипотека</button>
                </div>
            </div>
            <div class="popular-panes">
                <div class="popular-pane tabs-pane tabs-pane_show">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-pane tabs-pane">
                    <div class="popular-slider">
                        <div class="swiper-wrapper">
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                            <a class="popular-item swiper-slide" href="#">
                                <img src="assets/images/banks/tinkoff.png" alt="">
                                <div class="popular-item__info">
                                    <p class="popular-item__name">Тинькофф Платинум</p>
                                    <p class="popular-item__limit">Лимит: до 1 000 000 ₽</p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-nav">
                            <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="slider-nav_next slider-btn-next swiper-button-next">
                                <svg>
                                    <use href="#chevron"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>