<section class="similar-banks section">
    <div class="container">
        <h2>Похожие банки</h2>
        <div class="similar-banks__inner">
            <div class="similar-banks__slider">
                <div class="swiper-wrapper">
                    <a class="similar-banks__item swiper-slide" href="#">
                        <img src="assets/images/banks/tinkoff.png" alt="">
                        <div class="similar-banks__info">
                            <p class="similar-banks__name">Тинькофф Платинум</p>
                            <div class="banks-item__rat">
                                <p class="banks-item__rat-value">4.0</p>
                                <div class="banks-item__rat-stars" style="--rat-val: 4;">
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="similar-banks__item swiper-slide" href="#">
                        <img src="assets/images/banks/tinkoff.png" alt="">
                        <div class="similar-banks__info">
                            <p class="similar-banks__name">Тинькофф Платинум</p>
                            <div class="banks-item__rat">
                                <p class="banks-item__rat-value">4.0</p>
                                <div class="banks-item__rat-stars" style="--rat-val: 4;">
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="similar-banks__item swiper-slide" href="#">
                        <img src="assets/images/banks/tinkoff.png" alt="">
                        <div class="similar-banks__info">
                            <p class="similar-banks__name">Тинькофф Платинум</p>
                            <div class="banks-item__rat">
                                <p class="banks-item__rat-value">4.0</p>
                                <div class="banks-item__rat-stars" style="--rat-val: 4;">
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="similar-banks__item swiper-slide" href="#">
                        <img src="assets/images/banks/tinkoff.png" alt="">
                        <div class="similar-banks__info">
                            <p class="similar-banks__name">Тинькофф Платинум</p>
                            <div class="banks-item__rat">
                                <p class="banks-item__rat-value">4.0</p>
                                <div class="banks-item__rat-stars" style="--rat-val: 4;">
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="similar-banks__item swiper-slide" href="#">
                        <img src="assets/images/banks/tinkoff.png" alt="">
                        <div class="similar-banks__info">
                            <p class="similar-banks__name">Тинькофф Платинум</p>
                            <div class="banks-item__rat">
                                <p class="banks-item__rat-value">4.0</p>
                                <div class="banks-item__rat-stars" style="--rat-val: 4;">
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                    <svg>
                                        <use href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-nav">
                    <div class="slider-nav_prev slider-btn-prev swiper-button-prev">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                    <div class="slider-nav_next slider-btn-next swiper-button-next">
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>