<div class="container">
    <div class="single-review section">
        <div class="single-review__card">
            <div class="single-review__header">
                <img class="single-review__ava" src="assets/images/single-review/single-review-ava.png" alt="">
                <div class="single-review__data">
                    <p class="single-review__name">Александра Варфоломеева</p>
                    <p class="single-review__pos">Кредитный специалист</p>
                </div>
            </div>
            <div class="single-review__content">
                <p>Кроме того, сейчас банки предпочитают «долгие» вклады — на три или два года. Но есть
                    и короткие: например, в ТКБ и Инвестторгбанке — на 60 дней, в банке Ренессанс Кредит —
                    на 91 день. </p>
            </div>
            <div class="single-review__info">
                <a class="single-review__mail" href="mailto:alexander.user@mail.ru">alexander.user@mail.ru</a>
                <a class="single-review__soc-link" href="#">
                    <img src="assets/images/single-review/vk-svg.svg" alt="">
                </a>
            </div>
        </div>
        <div class="single-review__date">Актуализация: 01.01.2023</div>
        <div class="single-review__rating">
            <p class="single-review__rating-total">4.0</p>
            <div class="single-review__rating-stars rat-4">
                <svg>
                    <use href="#star"></use>
                </svg>
                <svg>
                    <use href="#star"></use>
                </svg>
                <svg>
                    <use href="#star"></use>
                </svg>
                <svg>
                    <use href="#star"></use>
                </svg>
                <svg>
                    <use href="#star"></use>
                </svg>
            </div>
            <div class="single-review__rating-count">оценок: <span>100</span></div>
        </div>
    </div>
</div>